@use '../../../styles/variables' as v;

body {
    font-family: v.$logo-font;
    line-height: 1.6;
    background-color: v.$sidebar-background-color;
    color: #333;
}
p {
    margin-top: 10px; /* Space above */
    margin-bottom: 36px; /* Space below */
}

/*
==============
Posts
==============
*/

.post-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: v.$post-background-color;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.post-content {
    margin-bottom: 20px;
}

.comment-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.primary-btn {
    background-color: #0a490d;
    color: #fff;
}

.secondary-btn {
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
}

.back-btn {
    background-color: #6c757d;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}


/*
==============
Comments
==============
*/

.comment-container {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.reply-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: underline;
    padding: 0;
    margin-top: 0.5rem;
}

.reply-button:hover {
    color: #0056b3;
}

.reply-form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.reply-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.submit-reply-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.submit-reply-button:hover {
    background-color: #0056b3;
}

.reply-container {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
