@use '../styles/variables' as v;

.footer{
    margin-top: 50px;
    padding-bottom: 20px;
}
.footer-text {
    padding: 10px;
    font-family: v.$logo-font;
    color: v.$footer-text-colour;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
}
body {
    margin: 20px;
}