@use '../styles/variables' as v;

.sidebar-navigation {
    display: flex;
    //align-items: center;
    //justify-content: space-between; // This helps distribute space
    top: 0;
    width: 100%;
    z-index: 1000;
    position: relative;
    padding: 10px 20px;
}

.logo {
    font-family: v.$logo-font;
    font-size: 35px;
    font-weight: 1000;
    letter-spacing: 0.1em;
    color: v.$logo-background-color;
    flex: 1;
    margin: auto; // Pushes the navigation to the right

    &:hover {
        font-size: 40px;
    }
}

.logo-image {
    display: flex;
    justify-content: center;
    flex: 1; // Prevent logo from growing or shrinking
    margin: auto 30%; // Pushes the navigation to the right
    img {
        width: 90px;
        height: 90px;
    }
}

ul {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    flex: 1; // Prevent logo from growing or shrinking
    margin: auto 20px; // Pushes the navigation to the right

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 28px;
        height: 100%;
        cursor: pointer;
        transition: all ease-out 120ms;

        i {
            font-size: 24px;
            transition: all ease 450ms;
        }

        .tooltip {
            display: inline-block;
            position: absolute;
            padding: 8px 15px;
            border-radius: 3px;
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%);
            visibility: hidden;
        }

        &:hover {
            .tooltip {
                visibility: hidden;
                opacity: 1;
            }

            background-color: v.$active-link-color;
            opacity: 0.8;
        }
    }
}

body {
    margin: 0;
}