@use '../styles/variables' as v;

.sidebar-navigation {
    display: flex;
    align-items: center;
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other elements */
    position: relative;
}

.logo {
    font-family: v.$logo-font;
    font-size: 35px; /* Increased font size for a bolder appearance */
    font-weight: 1000; /* Moderate weight for less boldness */
    letter-spacing: 0.1em; /* Slightly stretched look */
    padding-left: 40px;
    color: v.$logo-background-color;
}
.logo:hover {
    font-size: 40px; /* Increase font size on hover */
}

.logo-image {
    img {
        width: 90px;
        height: 90px;
    }
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 20px; /* Adjust padding for spacing */
    list-style: none; /* Remove default list styling */
    right: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 28px; /* Horizontal padding */
        height: 100%; /* Full height of the navbar */
        cursor: pointer;
        transition: all ease-out 120ms;

        i {
            font-size: 24px;
            transition: all ease 450ms;
        }
        .tooltip {
            display: inline-block;
            position: absolute;
            padding: 8px 15px;
            border-radius: 3px;
            bottom: -35px; /* Position the tooltip below the navbar */
            left: 50%; /* Center the tooltip horizontally */
            transform: translateX(-50%);
            visibility: hidden;
        }

        &:hover {
            .tooltip {
                visibility: hidden;
                opacity: 1;
            }
        }
    }
    li:hover {
        background-color: v.$active-link-color;
        opacity: 0.8;
    }
}
//.sidebar-navigation:hover{
//    background-color: black;
//    opacity: 1;
//}

body {
    margin: 0;
}
