$sidebar-background-color: #fffdfd;
$general-background-color: rgba(229, 229, 230, 0.91);
$logo-background-color: #161716;
$card-background-color: rgb(246, 244, 244);
$tooltip-background-color: $sidebar-background-color;
$post-background-color: rgba(248, 245, 239, 0.73);

$active-link-color: #696c6b;
$active-sidebar-link-color: $active-link-color;

$logo-font: 'Pacifico';
$description-text-colour: #666;
