
$general-background-color: #f0f0f0;
$logo-background-color: #090a09;
$nav-bar-icon-color: #222222;
$card-background-color: #ffffff;

$tooltip-background-color: #f3f6f3;
$post-background-color: #ebebeb;

$active-link-color: #d0d0d0;
$active-sidebar-link-color: $active-link-color;

$filter-badges-background-color: #f0f0f0;

$logo-font: 'Marker Felt';
$post-font: 'Rockwell';
$description-text-colour: #555;
$footer-text-colour: #888;

$posts-box-size: 140vh