@use '../styles/variables' as v;

body {
    background-color: v.$general-background-color;
    //background: linear-gradient(to bottom right, v.$active-link-color, v.$general-background-color);
    cursor: pointer;
}

/*
==============
Posts
==============
*/

.container {
    padding: 10px;
     //Make this container full screen
    width: 100vw;
    height: 100vh;
}

.button-group.center {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.filter-button {
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: v.$filter-badges-background-color;
    border: None ;
    border-radius: 5px;
    box-shadow: 1px 2px 2px v.$active-link-color;
    font-family: v.$post-font;
}
.filter-button:hover {
    background-color: v.$active-link-color;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 5px;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    border: 5px solid v.$card-background-color;
    background: v.$card-background-color;
    box-shadow: 0 2px 6px v.$active-link-color;
}
.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.card-link:hover .card {
    transform: translateY(-3px);
    box-shadow: 0 8px 10px v.$active-link-color;
}
/* Make sure the text color doesn't change on hover */
.card-link:hover .card-title,
.card-link:hover .card-text {
    color: inherit;
}
.card-title {
    font-family: v.$post-font;
    font-size: 1.2rem;
    font-weight: 590;
    margin-top: 5px;
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
    text-align: center; /* Center the text horizontally */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    height: 100%; /* Ensure the card body takes the full height of the card */
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.card-text {
    color: v.$description-text-colour;
    font-family: v.$post-font;
    font-size: 16px;
}